<div class="centered-content">
    <div class="login-box">

        <h1 class='title has-text-primary'>Register</h1>
        <form (submit)='onRegisterSubmit()'>
            <div class="field">
                <p class="control has-icons-left has-icons-right">
                  <input class="input has-background-light" [(ngModel)]="username" name="username" type="text" placeholder="UserName">
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control has-icons-left">
                  <input class="input" type="password" [(ngModel)]="password" name="password" placeholder="Password">
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </p>
              </div>
            <div class="field is-pulled-right">
                <p class="control">
                    <button type="submit" class="button is-success has-text-white">
                        Login
                    </button>
                </p>
            </div>
            <p>Do you have an account?<span style="color: #0095f6;cursor:pointer" routerLink='/login'>Login</span> </p>
    </form>
    </div>
</div>