<div class="centered-content">
    <div class="login-box">

        <h1 class='title has-text-primary'>Register</h1>
        <form (submit)='onRegisterSubmit()'>
        <div class="field">
            <p class="control has-icon-left has-icon-right">
                <input class="input has-background-light" [(ngModel)]='username' name="username" type="text" placeholder="UserName">
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>
                <span class="span icon is-small is-right">
                    <i class="fas fa-check"></i>
                </span>
            </p>
        </div>

        <div class="field">
            <p class="control has-icon-left">
                <input class="input has-background-light"  [(ngModel)]='password' name="password"  type="password" placeholder="Password">
                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
            </p>
        </div>
        <div class="field is-pulled-right">
            <p class="control">
                <button type="submit" class="button is-success has-text-white">
                    Login
                </button>
            </p>
        </div>
    </form>
    </div>
</div>