.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
form{
    background-color: #b5b9c9;
    display: block;
    max-width: 35rem;
    width: 90%;
    border-radius: 3rem;
    border: 1px solid black;
    padding: 1.5rem;
}
h1{
    text-align: center;
    font-size: 3rem;
}
label{
    display: block;
    font-size: 2rem;
}
.input-box{
  border:1px solid black;
  display: flex;
  align-items: center;
  margin: 1rem 0;
}
span{
    margin: 0 1rem;
    font-size: 1.1rem;   
}

input{
    border: none;
    width: 100%;
    font-size: 1.7rem;
    padding: 1rem;
}
.buttons{
    text-align: center;
}
button{
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    padding: 1rem;
    font-size: 1.2rem;
    background-color: #000000;
    color: white;
}
.text p{
    text-align: center;
    font-size: 1.2rem;
}
.text a{
    text-decoration: none;
}
button:hover{
    letter-spacing: 1.1rem;
}