<div class="container">
    <form action="" [formGroup]="loginForm" (ngSubmit)="login()">
        <h1>Login Page</h1>
        <label>Username</label>
        <div class="input-box">
            <span class="fas fa-user"></span>
            <input type="text" placeholder="Please enter Username" formControlName="username">
        </div>
        <label>Password</label>
        <div class="input-box">
            <span class="fas fa-key"></span>
            <input type="password" placeholder="Please enter Password" formControlName="password">
        </div>
        <div class="text">
            <p>Don't have an account?  <a routerLink="/register">Sign up</a></p>
        </div>
        <div class="buttons">
            <button type="submit">login</button>
        </div>
    </form>
</div>