<div class="centered-content">
    <div class="modal-box">
        <div class="title">
            Edit List
        </div>
        <input #listTitleInput type="text" class="input has-background-light is-medium" placeholder="please enter list name">
        <br><br>
        <div class="buttons is-right">
            <button class="button is-medium" routerLink="/">Cancel</button>
            <button class="button is-primary has-text-white is-medium" (click)='onEditList(listTitleInput.value)'>Edit</button>
        </div>
    </div>
</div>